@{
    ViewData["Title"] = "Home Page";
}
@using Domain
@model AllViewModel;


<div class="row">
    <h3>Aircrafts</h3>
    <table class="table table-striped"> 
        <thead> 
            <tr>
                <th>#</th>
                <th>Model</th>
                <th>Consumption per hour</th>
                <th>Cruising speed</th>
                <th>Take off effort</th>
            </tr> 
        </thead> 
        <tbody> 
            @foreach (var item in Model.Aircrafts)
            {
            <tr>
                <th scope="row">1</th>
                <td>@item.Model</td>
                <td>@item.ConsumptionPerHour</td>
                <td>@item.CruisingSpeed</td>
                <td>@item.TakeOffEffort</td>
            </tr>
            }
        </tbody> 
    </table>
</div>
<div class="row">
    <h3>Airports</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Aita code</th>
                <th>Latitude</th>
                <th>Longitude</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Airports)
            {
                <tr>
                    <th scope="row">1</th>
                    <td>@item.AitaCode</td>
                    <td>@item.Location.Latitude</td>
                    <td>@item.Location.Longitude</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row">
    <h3>Flights</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Departure</th>
                <th>Destination</th>
                <th>Aircraft</th>
                <th>Distance</th>
                <th>Fuel Needed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Flights)
            {
            <tr>
                <th scope="row">1</th>
                <td>@item.AitaCodeDeparture</td>
                <td>@item.AitaCodeDestination</td>
                <td>@item.AircraftModel</td>
                <td>@item.Distance</td>
                <td>@item.FuelNeeded</td>
            </tr>
            }
        </tbody>
    </table>
</div>


